* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
}

.mc {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #000000, #000000f4);
    color: #bf7a7ab0;
    position: relative;
	background-image: url("https://apod.nasa.gov/apod/image/2510/abell2744_jwst.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container {
    width: 700px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock {
    width: 100%;
    height: 100%;
    background: rgba(2, 12, 19, 0.48);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}

.clock span {
    font-size: 100px;
    font-weight: 550;
    width: 100px;
    display: inline-block;
    text-align: center;
    position: relative;

}

.clock span::after {
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

}

@media screen and (max-width: 768px) {
    .clock {
        display: flex;
        flex-direction: column;
    }
    .container {
        width: 170px;
        height: 400px;
    }
    .container:hover {
        box-shadow: 5px 5px 8px rgb(72, 74, 74);
    }
    .container::before {
        width: 120px;
        height: 110px;
        background: #cacaca;
        border-radius: 50%;
    }

    .container::after {
        width: 120px;
        height: 110px;
        background: #ff0000;
        border-radius: 7px;
    }

    .clock span {
        font-size: 65px;
        font-weight: 550;
    }

}


